/** GENERAL STYLES **/
* {
    font-family: 'roboto', 'Times New Roman';
    background-color: #1F2937;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-left: 8px;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    background-color: #1F2937;
}
/** CLASSES **/

/**HEADER**/

.header {
    background-color: #1F2937;
    margin: 0 150px;
    font-size: 18px;
}
.header-links, .hero-text {
    color:#E5E7EB;
}
.logo, .hero-header {
    color:#F9FAF8;
}
.logo {
    font-size: 24px;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 100px;
}

/** HERO **/
.header-hero-main {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 75px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
.hero-right {
    display: flex;
}
.hero-header {
    font-size: 48px;
    font-weight: 900;
    display: flex;
    max-width: 350px;
}
.hero-text {
    display: flex;
    max-width: 450px;
}
.button-sign-up {
    background-color: #3882F6;
    border-radius: 6px;
    border-color: #3882F6;
    color:#F9FAF8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 40px;
    align-self: flex-start;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

/**INFORMATION**/

.information-main {
    background-color: #F9FAF8;
    padding-top: 75px;
    padding-bottom: 150px;
}
.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.information-insert {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 52px;
    align-items: center;
}
.info-text {
    background-color: #F9FAF8;
    max-width: 250px;
    text-align: center;
    color:#3e3e3e;
}
.information-img {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

